{% extends "layout.html" %}

{% block title %}
    Time Management Pro
{% endblock %}

{% block main %}

    <!-- Select a Timer modal -->
    <div class="modal fade" id="exampleModalToggle" tabindex="-1" aria-hidden="true" aria-labelledby="exampleModalToggleLabel">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #778DA9;">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Select a Timer</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="background-color: #1B263B;">
                    {% include "timer_list.html" %}
                </div>
                <div class="modal-footer" style="background-color: #778DA9;">
                    <button class="modal-btn btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalToggle2">Edit Timers</button>
                    <button class="modal-btn btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalToggle3">Add New Timer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Timers modal -->
    <div class="modal fade" id="exampleModalToggle2" tabindex="-1" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #778DA9;">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Edit Timers</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="background-color: #1B263B;">
                    {% include "edit_timers.html" %}
                </div>
                <div class="modal-footer" style="background-color: #778DA9;">
                    <button class="modal-btn btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">Back to Timers</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add New Timers modal -->
    <div class="modal fade" id="exampleModalToggle3" tabindex="-1" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #778DA9;">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel3">Add New Timer</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="background-color: #1B263B;">
                    {% include "add_new_timer.html" %}
                </div>
                <div class="modal-footer" style="background-color: #778DA9;">
                    <button class="modal-btn btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">Back to Timers</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-12 text-center">
                <button id="timer_name" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">Select a Timer</button>
            </div>

            <!-- The Timer -->
            <div class="row">
                <div class="col-12 text-center" id="display">
                    00:00:00:00
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center" id="saveMessage"></div>
            </div>
            <!-- The Timer Controls -->
            <div class="row fixed-bottom col-12">
                <div id="controls">
                    <button id="reset_btn" onclick="reset()"><i class="fa-solid fa-rotate-right fa-2x"></i></button>
                    <button id="start_btn" onclick="start_stop()"><i class="fa-solid fa-play fa-2x"></i></button>
                    <button id="save_btn" onclick="saveTimerEntry()"><i class="fa-solid fa-file-arrow-down fa-2x"></i></button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
