{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="mb-3">
            <div class="col-12 text-center" id="timer_name">
                Time Management Pro
            </div>
            <!-- Username Field -->
            <input type="text" autocomplete="off" autofocus class="bg_text_form form-control mx-auto w-auto" name="username" placeholder="Username">
        </div>
        <div class="mb-3">
            <!-- Password Field -->
            <input type="password" class="bg_text_form form-control mx-auto w-auto" name="password" placeholder="Password">
        </div>
            <!-- Submit Button -->
        <button type="submit" class="login_btn btn btn-primary">Log In</button>
    </form>
    <!-- Register Button -->
    <a class="login_btn btn btn-primary" class="nav-link" href="/register">Register</a>
{% endblock %}
