{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form method="post" action="/register">
        <div class="mb-3">
            <!-- Username Field -->
            <input type="text" id="username_input" name="username" class="bg_text_form form-control mx-auto w-auto" autocomplete="off" autofocus placeholder="Username">
        </div>
        <div class="mb-3">
            <!-- Password Field-->
            <input type="password" id="password_input" name="password" class="bg_text_form form-control mx-auto w-auto" placeholder="Password">
        </div>
        <div class="mb-3">
            <!-- Confirm Password Field -->
            <input type="password" id="confirmation_input" name="confirmation" class="bg_text_form form-control mx-auto w-auto" placeholder="Confirm Password">
        </div>
        <!-- Submit Button -->
        <button type="submit" class="login_btn btn btn-primary">Register</button>
    </form>
{% endblock %}
